* {margin:0;padding:0;}
a, a:visited {
    color:#333333;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover, a:active {
    color:#999999;
    text-decoration: none;
}

img, img a, img a:hover, img:hover { border:none; }

body {
    background:#ffffff; 
    font-family:Verdana,Helvetica,Arial,sans-serif; 
    font-weight:normal; 
    font-size:12px;
    color:#333333;
    cursor:default;
}

ul li {
    margin-left:30px;
    list-style:square;
    padding:2px;
}

.clearboth {
    clear:both;
}


.inner {
    width:850px;
    margin:0 auto;
}

header {
    background:#f0f0f0;
    padding:60px 0;
    margin-bottom:80px;
}

header h1 { 
    font-weight: bold;
    margin: 0; 
    float: left;
}
header nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav a {
    font-weight:normal;
    margin-left:20px;
    font-size:20px;
    text-transform:lowercase;
}
header ul {
    list-style: none;
}
header li {
    display: inline-block;
    float: left;
}
header nav li::before {
    font-size:20px;
    color:#ddd;
    content:'//';
}

footer {
    background:#777777;
    padding:60px 0;
    margin-top:80px;
    color:#dddddd;
}